# Copier en .env et remplir
VITE_SUPABASE_URL=https://pdvftmlibzxjaqxmfeth.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBkdmZ0bWxpYnp4amFxeG1mZXRoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY2MzQ5MTgsImV4cCI6MjA5MjIxMDkxOH0.z5b7XyUaM38zqrX4IGgMgL7MwDSID2AbjJet3zF4azw
VITE_API_URL=http://localhost:3001/api
VITE_RESTAURANT_ID=a1b2c3d4-e5f6-4a7b-8c9d-000000000001
